# SPDX-FileCopyrightText: 2025 Legiayayana
#
# SPDX-License-Identifier: EUPL-1.2

[submodule "glTFScaffold"]
	path = glTFScaffold
	url = https://github.com/yretenai/glTFScaffold.git
[submodule "DragonLib"]
	path = DragonLib
	url = https://github.com/yretenai/DragonLib.git
